<form [formGroup]="customerForm" class="flex h-screen bg-gray-200 items-center justify-center">
    <div class="grid bg-white rounded-lg shadow-xl w-11/12 md:w-9/12 lg:w-1/3">

        <div class="flex justify-center">
            <div class="flex">
                <h1 class="text-gray-600 font-bold md:text-2xl text-xl">Detalle del cliente</h1>
            </div>
        </div>

        <div class="grid grid-cols-1 mt-5 mx-7">
            <label class="uppercase md:text-sm text-xs text-gray-500 text-light font-semibold">Código del
                cliente</label>
            <input
                class="py-2 px-3 rounded-lg border-2 border-purple-300 mt-1 focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent"
                type="text" placeholder="Código del cliente" formControlName="codigo" />
            <p *ngIf="customerForm.get('codigo')?.hasError('required') && customerForm.get('codigo')?.dirty"
                class="text-red-600 leading-tight">Código de cliente es requerido</p>
        </div>

        <div class="grid grid-cols-1 mt-5 mx-7">
            <label class="uppercase md:text-sm text-xs text-gray-500 text-light font-semibold">Nombre completo</label>
            <input
                class="py-2 px-3 rounded-lg border-2 border-purple-300 mt-1 focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent"
                type="text" placeholder="Nombre completo" formControlName="nombre" />
            <p *ngIf="customerForm.get('nombre')?.hasError('required') && customerForm.get('nombre')?.dirty"
                class="text-red-600 leading-tight">El nombre del cliente es requerido</p>
        </div>

        <div class="grid grid-cols-1 mt-5 mx-7">
            <label class="uppercase md:text-sm text-xs text-gray-500 text-light font-semibold">Fecha de
                nacimiento</label>
            <input
                class="py-2 px-3 rounded-lg border-2 border-purple-300 mt-1 focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent"
                (dateInput)="inputBirthDate($event)" formControlName="fechaNacimiento" placeholder="Fecha de nacimiento"
                [matDatepicker]="birthDate" (click)="birthDate.open()" readonly>
            <mat-datepicker #birthDate disabled="false"></mat-datepicker>
        </div>

        <div class="grid grid-cols-1 mt-5 mx-7">
            <label class="uppercase md:text-sm text-xs text-gray-500 text-light font-semibold">Estado Civil</label>
            <select
                class="py-2 px-3 rounded-lg border-2 border-purple-300 mt-1 focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent"
                formControlName="estadoCivil">
                <option *ngFor="let state of civilStates" [value]="state.uid">{{ state.name }}</option>
            </select>
            <p *ngIf="customerForm.get('estadoCivil')?.hasError('required') && customerForm.get('estadoCivil')?.dirty"
                class="text-red-600 leading-tight">El estado civil del cliente es requerido</p>
        </div>

        <div class="flex items-center justify-center  md:gap-8 gap-4 pt-5 pb-5">
            <button class="w-auto bg-gray-500 hover:bg-gray-700 rounded-lg shadow-xl font-medium text-white px-4 py-2"
                routerLink="..">Cancelar</button>
            <button
                class="w-auto bg-indigo-500 hover:bg-purple-700 rounded-lg shadow-xl font-medium text-white px-4 py-2 disabled:opacity-25 disabled:cursor-not-allowed"
                (click)="save()" [disabled]="customerForm.invalid">Guardar</button>
        </div>

    </div>
</form>